
#flag{
  border: 1px solid black;
}

#map{
  height: 400px;
  width: 100%;
  background-color: grey;
}

#details{
  height: auto;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
}

#details div {
  margin: 5px;
}
